<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Acme_MyModuleCategorynavigation" setup_version="1.0.0">
        <sequence>
            <module name="Klevu_FrontendJs"/>
            <module name="Klevu_Categorynavigation"/>
        </sequence>
    </module>
</config>
